*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/poster.jpg.mp4");
    max-height: 100%;
    max-width: 100%;
   
    background-repeat: no-repeat;
   
    background-size: cover;
    scroll-snap-type: mandatory;
    scroll-snap-align:end;
    flex: 0 0 100%;
 /*  background: url("../img/3625774-uhd_2160_4096_25fps.mp4"); 
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;  */
    
   }

   nav{
    position: fixed;
    width: 100%;
    margin: auto;
   
   }
   
   h1{
       font-size: 20px;
       color: black;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-left: 0.5rem;
      margin-top: 0.1rem;
      font-weight: 500;
   }
  
   .img{
    height: 100%;
   }

   .head{
    display: flex;
    margin-top: 2rem;margin-left: 1rem;
}
.nav-bar{
display: flex;
 padding-top: 2rem;
gap: 1rem;
z-index: -1;

}

ul{
 display: grid;
 place-items: center;
 display: flex;
 gap: 1rem;
}
.right{
    float: right;
    margin-top:-2rem;
    
}

.ul{
  width: 50%;
  margin: auto;
 justify-content: center;
  align-items: center;
  text-align: center;
}

li ,a{
    list-style: none;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
a{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.line{
    display: none;
}

.image-overlay{
     width: 100%;
    height: 100vh;
   background-color: black;
    opacity: 8;
    opacity: 0.3;
    position: absolute;
  z-index: -1; 
}

.follow-section{
   
   padding-top: 30rem;
    width: 90%;
    margin: auto;

}
p{
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}
input{
    width: 5rem;
    height: 2rem;
    background: none;
    border: 3px solid white;
    border-radius: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 15px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile{
    display: flex;
   
}

.left-box{
    margin-top: 4rem;
}

.right-button{
  display: grid;
  margin-top: -4rem;
  float: right;
}


 .p1{
    color: white;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 90%;
    margin-top: -0.5rem;
    margin-right: 3rem;
 }
 




.video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit:cover;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.div{
font-size: 60px;
position: absolute;
color:blue;
z-index: -1;
}

h1 {
    font-size: 3rem;
}

/* Additional responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
   
    .content{
        padding: 10px;
    }
   /*  .video-container video{
        display: none;
       
    } */

    
}

/* @media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
}
 */
 @media (min-aspect-ratio: 16/9){
    .video-container video{
        width: 100%;
        height: auto;
       
    }
 } 
 @media (max-aspect-ratio: 16/9){
    .video-container video{
        width: auto;
        height: 100%;
    }
 }   


 